.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.banner {
  /* background image is also not supported */
  background-image: url("layout.png") !important;
  background-size: cover !important;
  /*some properties are not supported like stoke, shadow and so on*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.hackathon {
  /* background image is also not supported */
  background-image: url("hackathon.png") !important;
  background-size: cover !important;
  /*some properties are not supported like stoke, shadow and so on*/
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
